@import "./font.css";
@import "../node_modules/@onlyoffice/ui-kit/lib/main.css";
@import "../node_modules/@onlyoffice/site-kit/lib/main.css";
@import "../components/syntax-highlight/syntax-highlight.css";
@import "../components/tree/tree.css";
@import "../internal/global-navigation.css";
@import "../internal/legacy.css";

html {
  background-color: var(--color-page-header-background);
  color: var(--color-foreground-default);
  font-family: var(--base-text-font-family-sans-serif);
  font-size: var(--text-body-font-size-medium);
  font-weight: var(--base-text-font-weight-normal);
  line-height: var(--text-body-line-height-medium);
}

body {
  background-color: var(--color-background-default);
}

.page-header__logo svg {
  block-size: 28px;
  inline-size: auto;

  @media (--size-viewport-width-large) {
    block-size: 38px;
  }
}

/* todo: move to ui */

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  scroll-margin-block-start: calc(var(--page-header-height) + var(--base-size-20));
}

.content h1 a[href^="#"],
.content h2 a[href^="#"],
.content h3 a[href^="#"],
.content h4 a[href^="#"],
.content h5 a[href^="#"],
.content h6 a[href^="#"] {
  color: inherit;
  text-decoration: none;
}

/* stylelint-disable-next-line a11y/content-property-no-static-value */
.content h1 a[href^="#"]::before,
.content h2 a[href^="#"]::before,
.content h3 a[href^="#"]::before,
.content h4 a[href^="#"]::before,
.content h5 a[href^="#"]::before,
.content h6 a[href^="#"]::before {
  /* todo: do not use opacity */
  /* todo: use own colors */
  /* todo: replace with svg icon */
  color: inherit;
  content: "#";
  display: inline-block;
  font-size: 1em;
  inline-size: 1.05em;
  margin-inline-start: -1.05em;
  opacity: 30%;
  text-decoration: none;
  visibility: hidden;
}

.content h1 a[href^="#"]:hover::before,
.content h2 a[href^="#"]:hover::before,
.content h3 a[href^="#"]:hover::before,
.content h4 a[href^="#"]:hover::before,
.content h5 a[href^="#"]:hover::before,
.content h6 a[href^="#"]:hover::before {
  visibility: visible;
}

.content img {
  /* stylelint-disable-next-line declaration-no-important */
  block-size: auto !important;
}

.content document-builder-container {
  display: block;
  margin-block-start: var(--base-size-20);
}

.content document-builder {
  block-size: 550px;
  display: block;
}
