/* todo: resolve the ignore */
/* stylelint-disable plugin/no-low-performance-animation-properties */

.global-navigation {
  align-items: center;
  block-size: 100%;
  display: flex;

  @media (--size-viewport-width-medium) {
    display: block;
  }
}

.global-navigation[expanded] .global-navigation__toggle svg {
  &:first-of-type {
    display: none;
  }

  &:last-of-type {
    display: block;
  }
}

.global-navigation[expanded] .global-navigation__nav {
  display: block;
}

.global-navigation__toggle {
  background-color: transparent;
  border: none;
  color: var(--base-color-white);
  cursor: pointer;
  display: block;
  padding: 0;

  @media (--size-viewport-width-medium) {
    display: none;
  }
}

.global-navigation__toggle svg {
  display: block;
  pointer-events: none;

  &:last-of-type {
    display: none;
  }
}

.global-navigation__nav {
  background-color: var(--color-background-default);
  box-shadow: var(--temp-color-shadow-default-small);
  display: none;
  inset-block-start: var(--page-header-height);
  inset-inline-end: 0;
  inset-inline-start: 0;
  max-block-size: calc(100vh - var(--page-header-height));
  overflow: auto;
  padding-block: calc(var(--base-size-20) / 2);
  position: absolute;

  @media (--size-viewport-width-medium) {
    background-color: transparent;
    block-size: inherit;
    box-shadow: none;
    display: block;
    overflow: unset;
    padding-block: 0;
    position: static;
  }
}

.global-navigation__menu {
  list-style: none;
  margin-block: 0;
  padding-block: calc(var(--base-size-20) / 2);
  padding-inline-start: 0;

  @media (--size-viewport-width-medium) {
    block-size: inherit;
    display: flex;
    padding-block: 0;
  }
}

.global-navigation__menu-item {
  margin-block-start: var(--base-size-20);
  padding-inline: var(--base-size-24);

  &:first-of-type {
    margin-block-start: 0;
  }

  @media (--size-viewport-width-medium) {
    align-items: center;
    display: flex;
    margin-block-start: 0;
    padding-inline: var(--base-size-36);
    position: relative;
  }

  @media (--size-viewport-width-large) {
    padding-inline: var(--base-size-48);
  }
}

.global-navigation__menu-link {
  color: var(--color-foreground-default);
  display: block;
  font-size: var(--text-body-font-size-small);
  font-weight: var(--base-text-font-weight-semi-bold);
  inline-size: min-content;
  letter-spacing: var(--base-text-letter-spacing-0-04);
  line-height: var(--text-body-line-height-small);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus,
  &:hover {
    color: var(--color-foreground-link);
  }

  @media (--size-viewport-width-medium) {
    color: var(--color-page-header-default-foreground);
  }
}

.global-navigation__menu-link::before {
  display: block;
  inset: 0;
  position: absolute;

  @media (--size-viewport-width-medium) {
    content: "";
  }
}

.global-navigation__menu-link_active {
  color: var(--color-foreground-link);
}

.global-navigation__submenu {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: var(--base-size-20);
  padding-inline-start: 0;

  @media (--size-viewport-width-medium) {
    background-color: var(--color-background-default);
    border-color: var(--color-border-muted);
    border-end-end-radius: var(--size-border-radius-large);
    border-end-start-radius: var(--size-border-radius-large);
    border-style: solid;
    border-width: var(--size-border-width-thin);
    box-shadow: var(--temp-color-shadow-default-small);
    display: none;
    inline-size: max-content;
    inset-block-start: calc(100% + var(--size-border-width-thin));
    inset-inline-start: 50%;
    margin-block-start: 0;
    max-inline-size: 300px;
    min-inline-size: 256px;
    padding: var(--base-size-32);
    padding-inline-start: var(--base-size-32);
    position: absolute;
    transform: translateX(-50%);
  }
}

.global-navigation__submenu::before,
.global-navigation__submenu::after {
  background-color: var(--color-border-accent-emphasis);
  block-size: var(--size-border-width-thin);
  display: block;
  inline-size: 0;
  inset-block-start: calc(var(--size-border-width-thin) * -1);
  inset-inline-start: 50%;
  position: absolute;
  transition: inline-size 0.2s ease-in-out;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.global-navigation__submenu::before {
  /* https://github.com/parcel-bundler/lightningcss/issues/781/ */
  @media (--size-viewport-width-medium) {
    content: "";
  }
}

.global-navigation__submenu::after {
  /* https://github.com/parcel-bundler/lightningcss/issues/781/ */
  @media (--size-viewport-width-medium) {
    content: "";
  }
}

.global-navigation__submenu-item {
  align-items: center;
  column-gap: var(--base-size-12);
  display: flex;
  inline-size: min-content;
  margin-block-start: var(--base-size-16);
  position: relative;
  white-space: nowrap;

  &:first-of-type {
    margin-block-start: 0;
  }
}

.global-navigation__submenu-link {
  color: var(--color-foreground-default);
  font-size: var(--text-body-font-size-small);
  font-weight: var(--base-text-font-weight-small);
  line-height: var(--text-body-line-height-small);
  text-decoration: none;

  &:focus-visible,
  &:hover {
    color: var(--color-foreground-link);
  }

  @media (--size-viewport-width-medium) {
    font-size: var(--text-body-font-size-large);
    font-weight: var(--base-text-font-weight-semi-bold);
    line-height: var(--text-body-line-height-large);
  }
}

.global-navigation__submenu-link::before {
  content: "";
  display: block;
  inset: 0;
  position: absolute;
}

.global-navigation__menu-item:focus-within .global-navigation__submenu,
.global-navigation__menu-item:hover .global-navigation__submenu {
  display: block;
}

.global-navigation__menu-item:focus-within .global-navigation__submenu::before,
.global-navigation__menu-item:hover .global-navigation__submenu::before {
  animation: 0.3s forwards ease-in-out global-navigation-submenu-border-before;

  @media screen and (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.global-navigation__menu-item:focus-within .global-navigation__submenu::after,
.global-navigation__menu-item:hover .global-navigation__submenu::after {
  animation: 0.3s forwards ease-in-out global-navigation-submenu-border-after;

  @media screen and (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes global-navigation-submenu-border-before {
  0% {
    inline-size: 0;
    inset-inline-start: 50%;
  }

  100% {
    inline-size: calc(50% + var(--size-border-width-thin));
    inset-inline-start: calc(var(--size-border-width-thin) * -1);
  }
}

@keyframes global-navigation-submenu-border-after {
  0% {
    inline-size: 0;
  }

  100% {
    inline-size: calc(50% + var(--size-border-width-thin));
  }
}

.global-navigation__legacy {
  padding-block: calc(var(--base-size-20) / 2);
  padding-inline: var(--base-size-24);
  text-align: end;

  @media (--size-viewport-width-medium) {
    display: none;
  }
}
