.global-navigation {
  display: block;
  height: 100%;
}

.global-navigation__menu {
  display: flex;
  height: inherit;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-inline-start: 0;
}

.global-navigation__menu-item {
  align-items: center;
  display: flex;
  padding-left: var(--base-size-48);
  padding-right: var(--base-size-48);
  position: relative;
}

.global-navigation__menu-link {
  color: inherit;
  font-size: var(--text-body-font-size-small);
  font-weight: var(--base-text-font-weight-semi-bold);
  letter-spacing: var(--base-text-letter-spacing-0-04);
  line-height: var(--text-body-line-height-small);
  text-decoration: none;
  text-transform: uppercase;
}

.global-navigation__menu-link:focus,
.global-navigation__menu-link:hover {
  color: var(--color-foreground-link);
}

.global-navigation__menu-link::before {
  content: "";
  display: block;
  inset: 0;
  position: absolute;
}

.global-navigation__menu-link_active {
  color: var(--color-foreground-link);
}

.global-navigation__submenu {
  background-color: var(--color-background-default);
  border-bottom-left-radius: var(--size-border-radius-large);
  border-bottom-right-radius: var(--size-border-radius-large);
  border-color: var(--color-border-muted);
  border-style: solid;
  border-width: var(--size-border-width-thin);
  box-shadow: var(--temp-color-shadow-default-small);
  display: none;
  left: 50%;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 300px;
  min-width: 256px;
  padding: var(--base-size-32);
  position: absolute;
  top: calc(100% + var(--size-border-width-thin));
  transform: translateX(-50%);
  width: max-content;
}

.global-navigation__submenu::before,
.global-navigation__submenu::after {
  background-color: var(--color-border-accent-emphasis);
  content: "";
  display: block;
  height: var(--size-border-width-thin);
  left: 50%;
  position: absolute;
  top: calc(var(--size-border-width-thin) * -1);
  transition: width 0.2s ease-in-out;
  width: 0;
}

.global-navigation__submenu-item {
  align-items: center;
  column-gap: var(--base-size-12);
  display: flex;
  margin-top: var(--base-size-16);
  position: relative;
}

.global-navigation__submenu-item:first-of-type {
  margin-top: 0;
}

.global-navigation__submenu-link {
  color: var(--color-foreground-default);
  font-size: var(--text-body-font-size-large);
  font-weight: var(--base-text-font-weight-semi-bold);
  line-height: var(--text-body-line-height-large);
  text-decoration: none;
}

.global-navigation__submenu-link:focus-visible,
.global-navigation__submenu-link:hover {
  color: var(--color-foreground-link);
}

.global-navigation__submenu-link::before {
  content: "";
  display: block;
  inset: 0;
  position: absolute;
}

.global-navigation__menu-item:focus-within .global-navigation__submenu,
.global-navigation__menu-item:hover .global-navigation__submenu {
  display: block;
}

.global-navigation__menu-item:focus-within .global-navigation__submenu::before,
.global-navigation__menu-item:hover .global-navigation__submenu::before {
  animation: 0.3s forwards ease-in-out global-navigation-submenu-border-before;
}

.global-navigation__menu-item:focus-within .global-navigation__submenu::after,
.global-navigation__menu-item:hover .global-navigation__submenu::after {
  animation: 0.3s forwards ease-in-out global-navigation-submenu-border-after;
}

@keyframes global-navigation-submenu-border-before {
  0% {
    left: 50%;
    width: 0;
  }

  100% {
    left: calc(var(--size-border-width-thin) * -1);
    width: calc(50% + var(--size-border-width-thin));
  }
}

@keyframes global-navigation-submenu-border-after {
  0% {
    width: 0;
  }

  100% {
    width: calc(50% + var(--size-border-width-thin));
  }
}
