/* The styles below are inspired by the `starry-night/both` theme */

.pl-c {
  color: var(--temp-color-sh-comment);
}

.pl-c1,
.pl-s .pl-v {
  color: var(--temp-color-sh-constant);
}

.pl-e,
.pl-en {
  color: var(--temp-color-sh-entity);
}

.pl-smi,
.pl-s .pl-s1 {
  color: var(--temp-color-sh-storage-modifier-import);
}

.pl-ent {
  color: var(--temp-color-sh-entity-tag);
}

.pl-k {
  color: var(--temp-color-sh-keyword);
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
  color: var(--temp-color-sh-string);
}

.pl-v,
.pl-smw {
  color: var(--temp-color-sh-variable);
}

.pl-bu {
  color: var(--temp-color-sh-brackethighlighter-unmatched);
}

.pl-ii {
  color: var(--temp-color-sh-invalid-illegal-text);
  background-color: var(--temp-color-sh-invalid-illegal-bg);
}

.pl-c2 {
  color: var(--temp-color-sh-carriage-return-text);
  background-color: var(--temp-color-sh-carriage-return-bg);
}

.pl-sr .pl-cce {
  font-weight: bold;
  color: var(--temp-color-sh-string-regexp);
}

.pl-ml {
  color: var(--temp-color-sh-markup-list);
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  font-weight: bold;
  color: var(--temp-color-sh-markup-heading);
}

.pl-mi {
  font-style: italic;
  color: var(--temp-color-sh-markup-italic);
}

.pl-mb {
  font-weight: bold;
  color: var(--temp-color-sh-markup-bold);
}

.pl-md {
  color: var(--temp-color-sh-markup-deleted-text);
  background-color: var(--temp-color-sh-markup-deleted-bg);
}

.pl-mi1 {
  color: var(--temp-color-sh-markup-inserted-text);
  background-color: var(--temp-color-sh-markup-inserted-bg);
}

.pl-mc {
  color: var(--temp-color-sh-markup-changed-text);
  background-color: var(--temp-color-sh-markup-changed-bg);
}

.pl-mi2 {
  color: var(--temp-color-sh-markup-ignored-text);
  background-color: var(--temp-color-sh-markup-ignored-bg);
}

.pl-mdr {
  font-weight: bold;
  color: var(--temp-color-sh-meta-diff-range);
}

.pl-ba {
  color: var(--temp-color-sh-brackethighlighter-angle);
}

.pl-sg {
  color: var(--temp-color-sh-sublimelinter-gutter-mark);
}

.pl-corl {
  text-decoration: underline;
  color: var(--temp-color-sh-constant-other-reference-link);
}
